nav {
    height: 100px;
    font-size: 19px;
}

.navbar-brand {
    font-size: 35px;
    padding: 25px;
}

#api-info, #topics-info, #basic-info-1, #basic-info-2 {
    padding: 20px;
}
.card{
    padding: 15px;
}

#disclaimer{
    font-style: italic;
    text-align: center;
    font-size: 13px;
    padding: 5px;
}